window {
margin: 0px;
background-color: transparent;
font-family: Hack Nerd Font;
font-weight:500;
font-size:20px;
}

#input {
margin: 5px;
border: none;
color: #000000;
border-radius:0;
background-color: #f97400;
font-weight: 500;
}

#input *{
    color: #000000;
}
#input::before{
    color: #000000;
}

#input:focus {
box-shadow: none;
/*border: 1px solid #b8bb26;*/
border: 0;
}

#inner-box {
margin: 5px;
border: none;
border-radius:0;
/*background-color: rgba(60,56,54,0.7);*/
background-color: transparent;
/*background-color: #282828;*/
}

#outer-box {
margin: 5px;
border: none;
background-color: #000000;
border: 2px solid #f97400;
border-radius:0;
/*background-color: #282828;*/
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f97400;
}

#entry{
border-radius:0;
color: #f97400;
background-color:#000000;
}

#entry:selected {
background-color: #f97400;
color:#000000;
}
#entry:selected *{
background-color: #f97400;
color:#000000;
}
#entry:selected #text{
color:#000000;
}
