# Ignore everything
/*



# But not these files...
!.gitignore
!.zshrc
!.bashrc
# !.p10k.zsh
!video.sh
!audio.sh
# !.config/
!themes/
# !.config/*

/.config/*

!/Pictures/Wallpapers/
# !/.config/hypr/
# !/.config/hypr/*
# !/.config/kitty/
# !/.config/nvim/
# !/.config/swayosd/
# !/.config/waybar/
# !/.config/zathura/
# !/.config/wofi-power-menu.toml
# !/.config/wofi/
!/themes
!/themes/*
