window#osd {
  padding: 12px 20px;
  border-radius: 0;
  border: 3px solid #EBDBB2;
  box-shadow: 0;
  /* background: alpha(@theme_bg_color, 0.5); } */
  background: #322E2C;
  window#osd #container {
    margin: 16px; }
  window#osd image,
  window#osd label {
    color: #EBDBB2; }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.5; }
  window#osd progressbar {
    min-height: 6px;
    border-radius: 0;
    background: transparent;
    color: #EBDBB2;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(#EBDBB2, 0.5); }
  window#osd progress {
    min-height: inherit;
    border-radius: 0;
    border: none;
    background: #EBDBB2; }
