window#osd {
	 padding: 12px 20px;
	 border-radius: 0;
	 border: 3px solid #EBDBB2;
	 background: #322e2c;
}
 window#osd #container {
	 margin: 16px;
}
 window#osd image, window#osd label {
	 color: #ebdbb2;
}
 window#osd progressbar:disabled, window#osd image:disabled {
	 opacity: 0.5;
}
 window#osd progressbar {
	 min-height: 6px;
	 border-radius: 0;
	 background: transparent;
	 border: none;
}
 window#osd trough {
	 min-height: inherit;
	 border-radius: inherit;
	 border: none;
	 background:alpha(#EBDBB2, 0.5);
}
 window#osd progress {
	 min-height: inherit;
	 border-radius: inherit;
	 border: none;
	 background: #ebdbb2;
}
 
